.headerIgnite{
  display: flex;
  background-color: var(--gray-800);
  padding: 1.25rem 0;
  justify-content: center;
}

.headerIgnite img {
  height: 2rem;
}
.headerIgnite strong{
  display: flex;

}

/* .toogle{
  position: relative;
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 60px;
  height: 34px;
}
.toogle > input{
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderLeftRight{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #023535;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderLeftRight:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.toogle input[type=checked] + .sliderLeftRight::after{
  background-color: #2196F3;
  left: 8px;
}

.toogle input:focus + .sliderLeftRight{
  box-shadow: 0 0 1px #2196F3;
}

.toogle input[type=checked] + .sliderLeftRight::before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.sliderLeftRight {
  border-radius: 34px;
}

.sliderLeftRight::before {
  border-radius: 50%;
}
 */